<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title >Ethereum JS</title>
        <meta name="description" content="Description" />
        <meta name="keywords" content="Keywords" />
        <meta name="author" content="Augusto Lemble">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/dist/res/eth.ico" type="image/x-icon">
        <link rel="stylesheet" href="/dist/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/dist/libs/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/dist/libs/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/dist/css/styles.css">
    </head>
    <body>
        <div class="fullHeight">
            <div class="container">
                <div class="row text-center box">
                    <br>
                    <div class="big-error"> WHOOPS! </div>
                    <h1>Error 500: Internal Error.</h1>
                </div>
            </div>
        </div>
    </body>
</html>