<nav class="blog-nav hidden-xs">
	<div class="container">
		<a class="blog-nav-item active" href="/"> Home</a>  |  
		<a class="blog-nav-item" href="/contracts"> Contracts</a>  |  
		<a class="blog-nav-item" href="/scripts"> Scripts</a>  |
		<a class="blog-nav-item" href="/db"> DB</a>
	</div>
</nav>

<nav class="blog-nav visible-xs">
	<div class="container">
		<div class="btn-group language-button">
		    <span class="fa fa-bars dropdown-toggle cursor-pointer" type="button" data-toggle="dropdown" aria-expanded="false" ></span>
		    <ul class="dropdown-menu total-width">
				<li><a class="blog-nav-item active" href="/"> Home</a></li>  
				<li><a class="blog-nav-item" href="/contracts"> Contracts</a></li>  
				<li><a class="blog-nav-item" href="/scripts"> Scripts</a></li>
				<li><a class="blog-nav-item" href="/db"> DB</a></li>
		    </ul>
		</div>
	</div>
</nav>